<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junhangxintong.chuanzhangtong">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 百度地图 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 网络定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息的相关接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 友盟 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YqxCO5SNcxnm3EGpqZA7uONX29A69svp" />

        <activity
            android:name=".common.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mine.activity.PersonalInfoActivity" />
        <activity android:name=".mine.activity.MyFleetActivity" />
        <activity android:name=".mine.activity.CrewInfoInputActivity" />
        <activity android:name=".mine.activity.AccoutSettingActivity" />
        <activity android:name=".mine.activity.ModifyNameActivity" />
        <activity android:name=".mine.activity.LoginRegisterActivity" />
        <activity android:name=".mine.activity.MyFleetListActivity" />
        <activity android:name=".mine.activity.AddShipActivity" />
        <activity android:name=".mine.activity.CrewManagementActivity" />
        <activity android:name=".mine.activity.ModifyPhoneActivity" />
        <activity android:name=".mine.activity.EmergencyContactorActivity" />
        <activity android:name=".mine.activity.EmergencyContactorPhoneActivity" />
        <activity android:name=".mine.activity.ChooseDutyActivity" />
        <activity android:name=".mine.activity.MyFollowFleetActivity" />
        <activity android:name=".mine.activity.ResetPwdActivity" />
        <activity android:name=".mine.activity.AboutActivity" />
        <activity android:name=".mine.activity.FeedbackActivity" />
        <activity android:name=".mine.activity.FlagMeanActivity" />
        <activity android:name=".mine.activity.MessageVerifyLoginActivity" />
        <activity android:name=".mine.activity.RegisterActivity" />
        <activity android:name=".mine.activity.ForgetPwdActivity" />
        <activity android:name=".mine.activity.InputPwdActivity" />
        <activity android:name=".mine.activity.AddCrewCertificateActivity" />
        <activity android:name=".mine.activity.BindManageMailBoxActivity" />
        <activity android:name=".mine.activity.BindBoxPwdActivity" />
        <activity android:name=".mine.activity.BindMailServerActivity" />
        <activity android:name=".mine.activity.CrewCertificateListsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.junhangxintong.chuanzhangtong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".net.FoodMenuActivity" />
        <activity
            android:name=".shipposition.activity.OtherShipDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".mine.activity.CrewCertificateDetailsActivity" />
        <activity android:name=".mine.activity.ShipCertificateDetailsActivity" />
        <activity android:name=".shipposition.activity.MyShipDetailsActivity" />
        <activity android:name=".shipposition.activity.AllMessagesActivity" />
        <activity android:name=".shipposition.activity.AddCrewActivity" />
        <activity android:name=".shipposition.activity.ShipNoonMessageActivity" />
        <activity android:name=".shipposition.activity.ShipArrivalMessageActivity" />
        <activity android:name=".shipposition.activity.ShipLeavePortMessageActivity" />
        <activity android:name=".shipposition.activity.ShipBerthingPortMessageActivity" />
        <activity android:name=".dynamic.activity.ShipDynamicActivity" />
        <activity android:name=".dynamic.activity.CrewCertificateActivity" />
        <activity android:name=".dynamic.activity.ShipCertificateActivity" />
        <activity android:name=".news.activity.OilPriceActivity" />
        <activity android:name=".news.activity.NationalityConventionActivity" />

        <!-- 友盟微博 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- qq精简版 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 分享编辑页(只有新浪微博精简版，豆瓣人人腾讯微博需要)： -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5993f8201c5dd07683000473" />

        <!-- 渠道ID -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity android:name=".mine.activity.ChooseCountryActivity" />
        <activity android:name=".mine.activity.ChooseCertificateTypeActivity" />
        <activity android:name=".mine.activity.CrewDetailsActivity" />
        <activity android:name=".mine.activity.ShipCertificteListActivity" />
        <activity android:name=".mine.activity.InsuranceDetailsActivity" />
        <activity android:name=".mine.activity.AddInsuranceActivity" />
        <activity android:name=".shipposition.activity.WriteNoonMessageActivity" />
        <activity android:name=".shipposition.activity.WriteArrivalMessageActivity" />
        <activity android:name=".shipposition.activity.WriteBerthingMessageActivity" />
        <activity android:name=".shipposition.activity.WriteLeaveMessageActivity" />
        <activity android:name=".mine.activity.ScanPhotoActivity" />
        <activity android:name=".mine.activity.ChooseBelongShipActivity" />
        <activity android:name=".mine.activity.ModifyCrewInfoActivity" />
        <activity android:name=".mine.activity.AddShipCertificateActivity" />
        <activity android:name=".mine.activity.MyCertificateActivity" />
        <activity android:name=".mine.activity.ShipCrewInfoActivity" />
        <activity android:name=".news.activity.WeatherDetailsActivity" />
        <activity android:name=".mine.activity.ModifyCrewCertificateActivity" />
        <activity android:name=".mine.activity.ModifyShipInsuranceActivity" />
        <activity android:name=".mine.activity.ModifyShipCertificateActivity" />
        <activity android:name=".shipposition.activity.ModifyNoonReportActivity" />
        <activity android:name=".shipposition.activity.ModifyBerthingReportActivity" />
        <activity android:name=".shipposition.activity.ModifyArrivalReportActivity" />
        <activity android:name=".shipposition.activity.ModifyLeaveReportActivity"></activity>
    </application>

</manifest>